@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: #fd2501;
}

header {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;

  font-size: 13px;

  // Link to profile
  #block-views-block-link-to-profile-logged-in-block-1 {
    float: right;
    margin: 15px;
    .avatar img {
      border-radius: 50%;
      border: 1px solid #ddd;

      &:hover {
        transition: border-color 0.2s;
        border: 1px solid #fa2300;
      }
    }
  }

  // Link to registration
  #block-linktoregistration {
    float: right;
    a.connect {
      display: block;
      border-radius: 2px;
      padding: 0 12px;
      margin: 15px 20px;
      background-color: #fd2501;
      border: 1px solid #fa2300;
      color: #fff;
      font-weight: bold;
      height: 28px;
      line-height: 28px;
    }
  }
}

// Make messages visible on front page
.path-frontpage .messages {
   margin: 50px 10%;
   padding: 15px 20px 15px 35px;
   position: absolute;
   width: 80%;
   z-index: 1;
}

#harta {
  #cauta-locatie {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    z-index: 11 !important;
    width: 320px;
    height: 20px;
    padding: 15px;
    font-size: 14px;
    color: #90a4ae;
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    transition: all ease-out 0.6s;
    &:hover {
      transition: border-color 0.2s;
      border-color: #fa2300;
    }
    &.huge {
        padding-left: 30px;
	width: 800px;
        height: 80px;
        top: 50% !important;
        margin-top: -55px;
        left: 50% !important;
        margin-left: -415px;
        font-size: 50px;
    }
  }
}

#overlay-harta {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  transition: all ease-out 0.6s;
  visibility: visible;
  opacity: 1;
  &.hidden {
   visibility: hidden;
   opacity: 0;
 }
}

.mapIconLabel {
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px #fff;
  &.min-price {
    color: #fd2501;
  }
}

#block-userlogin {
  position: fixed;
  width: 420px;
  z-index: 2;
  padding: 200px 30px 30px 30px;
  top: 50%;
  margin-top: -214px;
  left: 50%;
  margin-left: -240px;
  background: url('../header.png') 0 0 no-repeat #fff; 
  background-size: 480px auto;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #eee;
  border-radius: 5px;
  .form-item {
    margin: 0 0 25px 0;
    overflow: hidden;
    label {
      float: left;
      width: 30%;
      line-height: 50px;
      font-size: 16px;
      color: #90a4ae;
      font-weight: bold;
    }
    input {
      float: left;
      width: 69%;
      box-sizing: border-box;
      height: 50px;
      padding: 15px;
      font-size: 18px;
      color: #37474f;
    }
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      float: left;
      width: 50%;
      text-align: right;
      text-transform: uppercase;
      font-weight: bold;
      &:first-child {
         text-align: left;
      }
    }
  }
  #edit-submit {
    display: block;
      border-radius: 2px;
      padding: 0 15px;
      background-color: #fd2501;
      border: 1px solid #fa2300;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      margin: 0 0 20px 0;
  }
}

// User Profile

// Tabs
ul.tabs li.is-active {
  background-color: #fa2300;
  border-radius: 2px;
  a {
    color: #fff;
  }
}

.mapIconLabel
{
position: relative;
width: 95px;
height: 50px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #E87F7F solid 2px;
}

.mapIconLabel:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 25px 9px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -25px;
left: 22px;
}

.mapIconLabel:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 10px 0;
border-color: #E87F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -28px;
left: 21px;
}
